@import './i/box.styl'
@import './i/form.h4p.styl'

form
  &>button
    margin 1em 2em

  &>input
    margin 1em 2em 0
    width auto !important

  &>i
    color #080
    display block
    font-size 14px
    font-weight bold
    margin-top 1em
    text-align center

  &>b
    &>a
      display inline-block
      margin 0

  &>a
    align-self center
    color #999
    cursor pointer
    display flex
    font-size 14px
    justify-content center
    margin 1em 0 0

    &:hover
      color #f40
