@import './i/box.styl'
@import './i/form.h4p.styl'

form
  margin 1em

  &>i
    color #080
    display block
    font-size 14px
    font-weight bold
    margin-top 1em
    text-align center

  &>u
    margin 1em 0 0

    &>input
      text-align left

  &>b
    margin-left 16px
    margin-right 16px

    &>a
      display inline-block
      margin 0

  &>a
    align-self center
    color #999
    cursor pointer
    display flex
    font-size 14px
    justify-content center
    margin 1em 0 0

    &:hover
      color #f40
