@import './i/box.styl'
@import './i/form.h4p.styl'

form
  &>button
    margin 1em 2em 1.9em

  &>input
    margin 1em 2em 0
    width auto !important

  &>b
    &>a
      display inline-block
      margin 0
