@import './i/base.styl'
@import './i/form.h4p.styl'
@import './i/button.styl'
@import './i/form.styl'
@import './i/form.err.styl'
@import './i/input.styl'

form
  margin 0.5em 0 2em

  &>p
    margin-bottom 1em

  &>button
    margin 1em 2em 0
    width auto
